@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Exception exception = ViewData["HandleException"] as Exception;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@exception.Message</h1>
    <h1>@exception.StackTrace</h1>
</body>
</html>