@page
@model WebApplication1.Pages.Customer.IndexModel
@{
}
<html>
<head></head>
<body>
    <h1>merhaba burası benim ilk razor page sayfam</h1>
    <h1>@DateTime.Now</h1><br />
    <h1>@Model.Message</h1>
</body>
</html>
