
@{
    Layout ="_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    burası gorunum
    <a class="btn btn-success" href="">gonder</a>
</body>
</html>
